nav img {
    width: 50px;
}

.rotate-1 {
    animation: orbit 4s linear infinite;
}

.rotate-2 {
    animation: orbit 4s linear infinite;
}

.commands {
    width: 70vh;
}

.commands input {
    margin-right: 10px;
}

.wrapper img {
    border-radius: 5px;
}



@keyframes orbit-1 {
    from {
        transform: rotate(0deg) translate(-50px, 50px) rotate(0deg);
    }

    to {
        transform: rotate(360deg) translate(-50px, 50px) rotate(-360deg);
    }
}
@keyframes orbit-2 {
    from {
        transform: rotate(360deg) translate(-50px, 50px) rotate(-360deg);
    }
    
    to {
        transform: rotate(0deg) translate(-50px, 50px) rotate(0deg);
    }
}
