doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1')
        title Second Express application
    body
        main
            h1 Second Express application
            form(method='GET' action='/query')
                label(for='department') Podaj wydział
                input(name='department')
                br
                input(type='submit')
                input(type='reset')
