#vehicles-cards img {
    background-color: white;
}


nav img {
    width: 50px;
}

.rotate-1 {
    animation: orbit 4s linear infinite;
}

.rotate-2 {
    animation: orbit 4s linear infinite;
}

.commands {
    margin: 0;
    min-width: 60vh;
}

.commands input {
    margin-right: 10px;
}

.wrapper img {
    border-radius: 5px;
}

#function-toggle {
    position: fixed;
    top: 20%;
    z-index: 100;
}

#function-toggle .card-body {
    border-radius: 0 5px 5px 0;
}


#actions-panel {
    border-radius: 0 5px 5px 0;
    height: 50px;
    width: 50px;
    transform: translateX(-22px);
    transition: 0.3s;
}

#actions-panel:hover {
    transform: translateX(0px);
}


#actions-panel i {
    transition: 0.3s;
    transform: rotateZ(180deg);
}

#actions-panel[aria-expanded="false"] i {
    transform: rotateZ(0deg);
}

#actions-panel:hover i {
    display: block;
}

/* ADMIN */
#admin-panel-toggle {
    position: fixed;
    top: 20%;
    right: 0;
    z-index: 100;
}

#admin-panel-toggle .card-body {
    border-radius: 0 5px 5px 0;
}

#admin-panel {
    border-radius: 5px 0 0 5px;
    height: 50px;
    width: 50px;
    transform: translateX(20px);
    transition: 0.3s;
}

#admin-panel:hover {
    transform: translateX(0px);
}


#admin-panel i {
    transition: 0.3s;
    transform: rotateZ(180deg);
}

#admin-panel[aria-expanded="false"] i {
    transform: rotateZ(0deg);
}

#admin-panel:hover i {
    display: block;
}

#chart-wrapper {
    display: none;
}


@keyframes orbit-1 {
    from {
        transform: rotate(0deg) translate(-50px, 50px) rotate(0deg);
    }

    to {
        transform: rotate(360deg) translate(-50px, 50px) rotate(-360deg);
    }
}
@keyframes orbit-2 {
    from {
        transform: rotate(360deg) translate(-50px, 50px) rotate(-360deg);
    }
    
    to {
        transform: rotate(0deg) translate(-50px, 50px) rotate(0deg);
    }
}
